{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/logged"><img src="/static/admin.svg" alt="admin" height="50"></a></li>
                <span>Users</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/transaction"><img src="/static/transactionhistory.svg" alt="pay" height="50"></a></li>
                <span>Transaction</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/administration"><img src="/static/addplant.svg" alt="addplant" height="50"></a></li>
                <span>Manage</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/communication"><img src="/static/addnewsletter.svg" alt="addnewsletter" height="50"></a></li>
                <span>Communication</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/newsletter"><img src="/static/sendmail.svg" alt="sendmail" height="50"></a></li>
                <span>Newsletter</span>
        </div>
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/add" method="post" enctype="multipart/form-data">
        <div class="AddMain">
            <div class="AddFirst">
                <div>
                    <input id="name" autocomplete="off" autofocus class="form-control" name="name" placeholder="Name" type="text">
                </div>
                <div>
                    <input id="stock" autocomplete="off" autofocus class="form-control" name="stock" placeholder="Stock" type="number" min="0">
                </div>
                <div>
                    <input id="price" autocomplete="off" autofocus class="form-control" name="price" placeholder="Price" type="number" min="0">
                </div>
            </div>
            <br>
            <div>
                {{ ckeditor.create() }}
                {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
            </div>
            <br>
            <div>
                <input type="file" id="picture" name="picture">
            </div>
            <br>
            <div>
                <input type="file" id="thumbnail1" name="thumbnail1">
            </div>
            <br>
            <div>
                <input type="file" id="thumbnail2" name="thumbnail2">
            </div>
            <br>
            <div>
                <input type="checkbox" id="show" name="show" value="show">
                <label for="show"> Show?</label>
            </div>
            <br>
            <div>
                <button id="submit" type="submit" name="submit" value="submit"><img src="/static/save.svg" alt="save" height="50"></button>
            </div>
        </div>
    </form>
    <br>
    <div>
        <a href="/administration"><img src="/static/back.svg" alt="back" height="50"></a>
    </div>
    
{% endblock %}