{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <li class="NavBarLi"><a href="/administration">Manage</a></li>
        <li class="NavBarLi"><a href="/communication">Inform</a></li>
        <li class="NavBarLi"><a href="/newsletter">Compose</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/add" method="post" enctype="multipart/form-data">
        <div class="AddMain">
            <div>
                <input id="name" autocomplete="off" autofocus class="form-control" name="name" placeholder="Name" type="text">
            </div>
            <br>
            <div>
                <input id="stock" autocomplete="off" autofocus class="form-control" name="stock" placeholder="Stock" type="number" min="0">
            </div>
            <br>
            <div>
                <input id="price" autocomplete="off" autofocus class="form-control" name="price" placeholder="Price" type="number" min="0">
            </div>
            <br>
            <div>
                {{ ckeditor.create() }}
                {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
            </div>
            <br>
            <div>
                <input type="file" id="picture" name="picture">
            </div>
            <br>
            <div>
                <input type="checkbox" id="show" name="show" value="show">
                <label for="show"> Show?</label>
            </div>
            <br>
            <div>
                <button id="submit" type="submit" name="submit" value="submit"><img src="/static/save.svg" alt="save" height="50"></button>
            </div>
        </div>
    </form>
    <br>
    <div>
        <a href="/administration"><img src="/static/back.svg" alt="back" height="50"></a>
    </div>
    
{% endblock %}