{% extends "layout.html" %}

{% block title %}
    Manage
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <li><a href="/administration">Manage</a></li>
        <li><a href="/communication">Inform</a></li>
        <li><a href="/newsletter">Compose</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/administration" method="post">
        <table>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Price</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Description</th>
                    <th scope="col">Show</th>
                </tr>
            </thead>

            <tbody>
                {% for plant in plants %}
                    <tr>
                        <td>{{ plant[1] }}</td>
                        <td>{{ plant[2] }}</td>
                        <td>{{ plant[3] }}</td>
                        <td><img src="{{ plant[4] }}" alt="plant picture of {{ plant[1] }}" height="50"></td>
                        <td>{{ plant[5] }}</td>
                        <td>{{ plant[6] }}</td>
                        <td><button name="delete" value="{{ plant[0] }}" type="submit">Delete</button></td>
                        <td><button name="edit" value="{{ plant[0] }}" type="submit">Edit</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <a href="/add">Add plant</a>
        </div>
    </form>

    <br>
    <div>
        <a href="/">Back</a>
    </div>
{% endblock %}