{% extends "layout.html" %}

{% block title %}
    Manage
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/logged"><img src="/static/admin.svg" alt="admin" height="50"></a></li>
                <span>Users</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/transaction"><img src="/static/transactionhistory.svg" alt="pay" height="50"></a></li>
                <span>Transaction</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/administration"><img src="/static/addplant.svg" alt="addplant" height="50"></a></li>
                <span>Manage</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/communication"><img src="/static/addnewsletter.svg" alt="addnewsletter" height="50"></a></li>
                <span>Communication</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/newsletter"><img src="/static/sendmail.svg" alt="sendmail" height="50"></a></li>
                <span>Newsletter</span>
        </div>
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/administration" method="post">
        <div class="TableBorder">
            <table class="TableMain">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Price</th>
                        <th scope="col">Offer</th>
                        <th scope="col">Picture</th>
                        <th scope="col">Reduced</th>
                        <th scope="col">Show</th>
                    </tr>
                </thead>

                <tbody>
                    {% for plant in plants %}
                        <tr>
                            <td>{{ plant.name | safe }}</td>
                            <td>{{ plant.stock | safe }}</td>
                            <td>{{ '%0.2f'|format(plant.price) }}€</td>
                            <td>{{ '%0.2f'|format(plant.offer) }}€</td>
                            <td><img src="{{ plant.picture | safe }}" alt="plant picture of {{ plant.name | safe }}" height="50"></td>
                            <td>{{ plant.reduced | safe }}</td>
                            <td>{{ plant.show | safe }}</td>
                            <td><button name="delete_plant" value="{{ plant.id }}" type="submit"><img src="/static/trash.svg" alt="delete" height="25"></button></td>
                            <td><button name="edit_plant" value="{{ plant.id }}" type="submit"><img src="/static/updateB.svg" alt="edit" height="25"></button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <div>
                <a href="/addPlant"><img src="/static/add.svg" alt="add" height="50"></a>
            </div>
        </div>
        <br>
        <div class="TableBorder">
            <table class="TableMain">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Length</th>
                        <th scope="col">Width</th>
                        <th scope="col">Height</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Price DE</th>
                        <th scope="col">Price EU</th>
                        <th scope="col">Express</th>
                    </tr>
                </thead>

                <tbody>
                    {% for box in boxes %}
                        <tr>
                            <td>{{ box.name | safe }}</td>
                            <td>{{ box.length | safe }}</td>
                            <td>{{ box.width | safe }}</td>
                            <td>{{ box.height | safe }}</td>
                            <td>{{ box.weight | safe }}</td>
                            <td>{{ '%0.2f'|format(box.price_de) }}€</td>
                            <td>{{ '%0.2f'|format(box.price_eu) }}€</td>
                            <td>{{ '%0.2f'|format(box.price_ex) }}€</td>
                            <td><button name="delete_box" value="{{ box.id }}" type="submit"><img src="/static/trash.svg" alt="delete" height="25"></button></td>
                            <td><button name="edit_box" value="{{ box.id }}" type="submit"><img src="/static/updateB.svg" alt="edit" height="25"></button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <div>
                <a href="/addBox"><img src="/static/add.svg" alt="add" height="50"></a>
            </div>
        </div>
    </form>
    <br>
    <div>
        <a href="/"><img src="/static/back.svg" alt="back" height="50"></a>
    </div>
{% endblock %}