{% extends "layout.html" %}

{% block title %}
    Articles
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <li class="NavBarLi"><a href="/administration">Manage</a></li>
        <li class="NavBarLi"><a href="/communication">Inform</a></li>
        <li class="NavBarLi"><a href="/newsletter">Compose</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/article" method="post">
        <div>
            {% for communication in communications %}
                <div class="TableBorder">
                    {{ communication[1] }}
                    {{ communication[2] | safe }}
                </div>
                <br>
            {% endfor %}
        </div>      
    </form>
    <br>
    <div>
        <a href="/">Back</a>
    </div>
{% endblock %}