{% extends "layout.html" %}

{% block title %}
    Articles
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <li><a href="/administration">Manage</a></li>
        <li><a href="/communication">Inform</a></li>
        <li><a href="/newsletter">Compose</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    Article page
    <form action="/article" method="post">
        <div>
            {% for communication in communications %}
                <div>
                    {{ communication[1] }}
                    {{ communication[2] | safe }}
                </div>
            {% endfor %}
        </div>      
    </form>
    <br>
    <div>
        <a href="/">Back</a>
    </div>
{% endblock %}