{% extends "layout.html" %}

{% block title %}
    Change
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <li><a href="/administration">Manage</a></li>
        <li><a href="/communication">Inform</a></li>
        <li><a href="/newsletter">Compose</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/change" method="post">
        <div>
            <input id="title" autocomplete="off" autofocus class="form-control" name="title" placeholder=" Title" type="text" size="50">
        </div>
        <br>
        <div></div>
            {{ ckeditor.create() }}
            {{ ckeditor.load(pkg_type="standard") }}
        </div>
        <br>
        <div>
            <button id="submit" type="submit" name="submit" value="submit">Send.</button>
        </div>
        <br>
        <div>
            <a href="/">Back</a>
        </div>
    </form>
    <br>
    <div>
        <a href="/communication">Back</a>
    </div>
{% endblock %}