{% extends "layout.html" %}

{% block title %}
    Communication
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <li><a href="/administration">Manage</a></li>
        <li><a href="/communication">Inform</a></li>
        <li><a href="/newsletter">Compose</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/communication" method="post">
        <table>
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Body</th>
                </tr>
            </thead>

            <tbody>
                {% for communication in communications %}
                    <tr>
                        <td>{{ communication[1] | safe }}</td>
                        <td>{{ communication[2] | safe }}</td>
                        <td><button name="erase" value="{{ communication[0] }}" type="submit">Delete</button></td>
                        <td><button name="change" value="{{ communication[0] }}" type="submit">Edit</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <a href="/create">Add news</a>
        </div>
    </form>
    <br>
    <div>
        <a href="/">Back</a>
    </div>
{% endblock %}