{% extends "layout.html" %}

{% block title %}
    Communication
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <li><a href="/administration">Manage</a></li>
        <li><a href="/communication">Inform</a></li>
        <li><a href="/newsletter">Compose</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    Communication page
    <form action="/communication" method="post">
        <table>
            <thead>
                <tr>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                {% for communication in communications %}
                    <tr>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}