{% extends "layout.html" %}

{% block title %}
    Delete
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <li class="NavBarLi"><a href="/administration">Manage</a></li>
        <li class="NavBarLi"><a href="/communication">Inform</a></li>
        <li class="NavBarLi"><a href="/newsletter">Compose</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/delete" method="post">
        <div>
            <p>Delete your account.</p>
            <button id="deleteAccount" name="deleteAccount" type="submit">Delete</button>
        </div>
    </form>
    <br>
    <div>
        <a href="/profile">Back</a>
    </div>
{% endblock %}