{% extends "layout.html" %}

{% block title %}
    Edit box
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/logged"><img src="/static/admin.svg" alt="admin" height="50"></a></li>
                <span>Users</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/transaction"><img src="/static/transactionhistory.svg" alt="pay" height="50"></a></li>
                <span>Transaction</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/administration"><img src="/static/addplant.svg" alt="addplant" height="50"></a></li>
                <span>Manage</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/communication"><img src="/static/addnewsletter.svg" alt="addnewsletter" height="50"></a></li>
                <span>Communication</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/newsletter"><img src="/static/sendmail.svg" alt="sendmail" height="50"></a></li>
                <span>Newsletter</span>
        </div>
    {% endif %}
{% endblock %}

{% block main %}
<form action="/editBox" method="post" enctype="multipart/form-data">
    <div class="EditBoxMain">
        <div>
            <input type='hidden' name='box_id' value='{{ boxes[0] | safe }}'>
        </div>
        <div>
            <input id="name" autocomplete="off" autofocus class="form-control" name="name" placeholder=" Name" type="text" value="{{ boxes[1] | safe }}">
        </div>
        <br>
        <div>
            <input id="length" autocomplete="off" autofocus class="form-control" name="length" placeholder=" Length" type="number" min="0" value="{{ boxes[2] | safe }}">
        </div>
        <br>
        <div>
            <input id="width" autocomplete="off" autofocus class="form-control" name="width" placeholder=" Width" type="number" min="0" value="{{ boxes[3] | safe }}">
        </div>
        <br>
        <div>
            <input id="height" autocomplete="off" autofocus class="form-control" name="height" placeholder=" Height" type="number" min="0" value="{{ boxes[4] | safe }}">
        </div>
        <br>
        <div>
            <input id="weight_ne" autocomplete="off" autofocus class="form-control" name="weight_ne" placeholder=" Weight non-express" type="number" min="0" value="{{ boxes[5] | safe }}">
        </div>
        <br>
        <div>
            <input id="weight_ex" autocomplete="off" autofocus class="form-control" name="weight_ex" placeholder=" Weight express" type="number" min="0" value="{{ boxes[6] | safe }}">
        </div>
        <br>
        <div>
            <input id="price_de" autocomplete="off" autofocus class="form-control" name="price_de" placeholder=" Price DE" type="number" min="0" value="{{ boxes[7] | safe }}" step="0.01">
        </div>
        <br>
        <div>
            <input id="price_eu" autocomplete="off" autofocus class="form-control" name="price_eu" placeholder=" Price EU" type="number" min="0" value="{{ boxes[8] | safe }}" step="0.01">
        </div>
        <br>
        <div>
            <input id="price_ex" autocomplete="off" autofocus class="form-control" name="price_ex" placeholder=" Express" type="number" min="0" value="{{ boxes[9] | safe }}" step="0.01">
        </div>
        <br>
        <div>
            <button id="submit" type="submit" name="submit" value="submit"><img src="/static/save.svg" alt="save" height="50"></button>
        </div>
    </div>
</form>
    <br>
    <div>
        <a href="/"><img src="/static/back.svg" alt="back" height="50"></a>
    </div>
{% endblock %}