{% extends "layout.html" %}

{% block title %}
    Edit plant
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/logged"><img src="/static/admin.svg" alt="admin" height="50"></a></li>
                <span>Users</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/transaction"><img src="/static/transactionhistory.svg" alt="pay" height="50"></a></li>
                <span>Transaction</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/administration"><img src="/static/addplant.svg" alt="addplant" height="50"></a></li>
                <span>Manage</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/communication"><img src="/static/addnewsletter.svg" alt="addnewsletter" height="50"></a></li>
                <span>Communication</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/newsletter"><img src="/static/sendmail.svg" alt="sendmail" height="50"></a></li>
                <span>Newsletter</span>
        </div>
    {% endif %}
{% endblock %}

{% block main %}
        <form action="/editPlant" method="post" enctype="multipart/form-data">
            <div class="EditPlantMain">
                <div class="EditPlantFirst">
                    <div>
                        <input type='hidden' name='plant_id' value='{{ plants[0] | safe }}'>
                    </div>
                    <div>
                        <input id="name" autocomplete="off" autofocus class="form-control" name="name" placeholder="Name" type="text" value="{{ plants[1] | safe }}">
                    </div>
                    <div class="EditPlantSecond">
                        <div>
                            <input id="stock" autocomplete="off" autofocus class="form-control" name="stock" placeholder="Stock" type="number" min="0" value="{{ plants[2] | safe }}">
                        </div>
                        <div>
                            <input id="price" autocomplete="off" autofocus class="form-control" name="price" placeholder="Price" type="number" min="0" value="{{ plants[3] | safe }}" step="0.01">
                        </div>
                        <div>
                            <input id="offer" autocomplete="off" autofocus class="form-control" name="offer" placeholder="Offer" type="number" min="0" value="{{ plants[4] | safe }}" step="0.01">
                        </div>
                    </div>
                    <div class="EditPlantSecond">
                        <div>
                            <input id="length" autocomplete="off" autofocus class="form-control" name="length" placeholder=" Length (cm)" type="number" min="0" value="{{ plants[5] | safe }}">
                        </div>
                        <div>
                            <input id="width" autocomplete="off" autofocus class="form-control" name="width" placeholder=" Width (cm)" type="number" min="0" value="{{ plants[6] | safe }}">
                        </div>
                        <div>
                            <input id="height" autocomplete="off" autofocus class="form-control" name="height" placeholder=" Height (cm)" type="number" min="0" value="{{ plants[7] | safe }}">
                        </div>
                        <div>
                            <input id="weight" autocomplete="off" autofocus class="form-control" name="weight" placeholder=" Weight (g)" type="number" min="0" value="{{ plants[8] | safe }}">
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    {% with description = plants[10] | safe %}
                        {{ ckeditor.create(value=description) }}
                        {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
                    {% endwith %}
                </div>
                <br>
                <div>
                    Main picture:
                    <input type="file" id="picture" name="picture">
                </div>
                <br>
                <div>
                    First thumbnail:
                    <input type="file" id="thumbnail1" name="thumbnail1">
                </div>
                <br>
                <div>
                    Second thumbnail: 
                    <input type="file" id="thumbnail2" name="thumbnail2">
                </div>
                <br>
                    {% if plants[11] == "Yes" %}
                    <div>
                        <input type="checkbox" id="express" name="express" value="express" checked>
                        <label for="express"> Express only?</label>
                    </div>
                    {% else %}
                    <div>
                        <input type="checkbox" id="express" name="express" value="express">
                        <label for="express"> Express only?</label>
                    </div>
                    {% endif %}
                    {% if plants[12] == "Yes" %}
                    <div>
                        <input type="checkbox" id="reduced" name="reduced" value="reduced" checked>
                        <label for="reduced"> Show reduced price?</label>
                    </div>
                    {% else %}
                    <div>
                        <input type="checkbox" id="reduced" name="reduced" value="reduced">
                        <label for="reduced"> Show reduced price?</label>
                    </div>
                    {% endif %}
                    {% if plants[13] == "Yes" %}
                    <div>
                        <input type="checkbox" id="show" name="show" value="show" checked>
                        <label for="show"> Show in app?</label>
                    </div>
                    {% else %}
                    <div>
                        <input type="checkbox" id="show" name="show" value="show">
                        <label for="show"> Show in app?</label>
                    </div>
                    {% endif %}
                <br>
                <div>
                    <button id="submit" type="submit" name="submit" value="submit"><img src="/static/save.svg" alt="save" height="50"></button>
                </div>
            </div>
            </form>
        </form>
        <br>
        <div>
            <a href="/administration"><img src="/static/back.svg" alt="back" height="50"></a>
        </div>
{% endblock %}