{% extends "layout.html" %}

{% block title %}
    Email
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <li class="NavBarLi"><a href="/administration">Manage</a></li>
        <li class="NavBarLi"><a href="/communication">Inform</a></li>
        <li class="NavBarLi"><a href="/newsletter">Compose</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/email" method="post">
        <div class="EmailMain">
            <div>
                <input id="email" autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="text">
            </div>
            <br>
            <div>
                <button id="updateEmail" type="submit"><img src="/static/save.svg" alt="save" height="50"></button>
            </div>
        </div>
    </form>
    <br>
    <div>
        <a href="/profile"><img src="/static/back.svg" alt="back" height="50"></a>
    </div>

    <script>

        document.querySelector("#updateEmail").disabled = true;

        document.querySelector("#email").onkeyup = function() {
            let email = document.querySelector("#email").value;

            if (email.match(/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i)) {
                document.querySelector("#updateEmail").disabled = false;
            }
            else {
                document.querySelector("#updateEmail").disabled = true;
            }
        }
    </script>
{% endblock %}