{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/transaction"><img src="/static/pay.svg" alt="pay" height="50"></a></li>
                <span>Transaction</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/administration"><img src="/static/addplant.svg" alt="addplant" height="50"></a></li>
                <span>Manage</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/communication"><img src="/static/addnewsletter.svg" alt="addnewsletter" height="50"></a></li>
                <span>Communication</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/newsletter"><img src="/static/sendmail.svg" alt="sendmail" height="50"></a></li>
                <span>Newsletter</span>
        </div>
    {% endif %}
{% endblock %}

{% block main %}

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            {% for plant in plants[1:] %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index}}"></li>
            {% endfor %}
        </ol>

        <div class="carousel-inner">

            {% for plant in plants[0:1] %}
                
                <div class="carousel-item active">
                    <form action="/" method="post">
                        <div class="IndexMain">
                            <div class="IndexRow">
                                <div class="IndexLeft">
                                    <img name="{{ plant.picture | safe }}" src="{{ plant.picture | safe }}" alt="plant picture of {{ plant.name | safe }}" width="500px">
                                </div>
                                <div class="IndexRight">
                                    <div class="IndexInfo1">
                                        <div name="{{ plant.name | safe }}">Name: {{ plant.name | safe }}</div>
                                        <div name="{{ plant.stock | safe }}">Stock: {{ plant.stock | safe }}</div>
                                        <div name="{{ plant.price | safe }}">Price: {{ plant.price | safe }},00€</div>
                                    </div>
                                    <div class="IndexInfo2">
                                        <input type='hidden' name='plant_id' value='{{ plant.id | safe }}'>
                                        <input type="number" name="quantity" value="1" min="1" max="{{ plant.stock | safe }}" style="width: 75px">
                                        <button name="submit" value="submit" type="submit"><img src="/static/add.svg" alt="add" height="25"></button>
                                    </div>
                                    <div class="IndexInfo3">
                                        <div name="{{ plant.description | safe }}">Description: {{ plant.description | safe }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


            {% endfor %}
            {% for plant in plants[1:] %}

                <div class="carousel-item">
                    <form action="/" method="post">
                        <div class="IndexMain">
                            <div class="IndexRow">
                                <div class="IndexLeft">
                                    <img name="{{ plant.picture | safe }}" src="{{ plant.picture | safe }}" alt="plant picture of {{ plant.name | safe }}" width="500px">
                                </div>
                                <div class="IndexRight">
                                    <div class="IndexInfo1">
                                        <div name="{{ plant.name | safe  }}">Name: {{ plant.name | safe }}</div>
                                        <div name="{{ plant.stock | safe  }}">Stock: {{ plant.stock | safe }}</div>
                                        <div name="{{ plant.price | safe  }}">Price: {{ plant.price | safe }},00€</div>
                                    </div>
                                    <div class="IndexInfo2">
                                        <input type='hidden' name='plant_id' value='{{ plant.id | safe }}'>
                                        <input type="number" name="quantity" value="1" min="1" max="{{ plant.quantity | safe }}" style="width: 75px">
                                        <button name="submit" value="submit" type="submit"><img src="/static/add.svg" alt="add" height="25"></button>
                                    </div>
                                    <div class="IndexInfo3">
                                        <div name="{{ plant.description | safe }}">Description: {{ plant.description | safe }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            {% endfor %}
            
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

{% endblock %}