<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Benoit Hage - hage.benoit@gmail.com" />
        <meta name="description" content="The Crazy Plant Crew website" />

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"> -->
        <link href="/static/favicon.ico" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>Crazy Plant Crew: {% block title %}{% endblock %}</title>

    </head>

    <body>
        <nav>
            <a href="/"><span>Crazy Plant Crew</span></a>
            <div>
                {% if session.user_id and isConfirmed == "yes" %}
                    <ul>
                        <li><a href="/">Index</a></li>
                        <li><a href="/profile">{{ name }}</a></li>
                        <li><a href="/message">Message</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                    <img src="{{ picture }}" alt="Profile picture of {{ name }}"> 
                {% elif session.user_id and isConfirmed == "no" %}
                    <ul>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/signin">Log In</a></li>
                    </ul>
                {% else %}
                    <ul>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/signin">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <header>
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </header>
            {% endif %}
        {% endwith %}

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>
            © The Crazy Plant Crew 2020
        </footer>
    </body>

</html>
