{% extends "layout.html" %}

{% block title %}
    Remove
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/logged"><img src="/static/admin.svg" alt="admin" height="50"></a></li>
                <span>Users</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/transaction"><img src="/static/transactionhistory.svg" alt="pay" height="50"></a></li>
                <span>Transaction</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/administration"><img src="/static/addplant.svg" alt="addplant" height="50"></a></li>
                <span>Manage</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/communication"><img src="/static/addnewsletter.svg" alt="addnewsletter" height="50"></a></li>
                <span>Communication</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/newsletter"><img src="/static/sendmail.svg" alt="sendmail" height="50"></a></li>
                <span>Newsletter</span>
        </div>
    {% endif %}
{% endblock %}

{% block main %}
    <div>
        Total user list:
        <ul>
        {% for user in users %}
            <li>{{ user }}</li>
        {% endfor %}
        </ul>
    </div>
    <br>
    <div>
        Total admin list:
        <ul>
        {% for admin in admins %}
            <li>{{ admin }}</li>
        {% endfor %}
        </ul>
    </div>
    <br>
    <div>
        Total unconfirmed list:
        <ul>
        {% for unconfirmed in unconfirmeds %}
            <li>{{ unconfirmed }}</li>
        {% endfor %}
        </ul>
    </div>
    <br>
    <br>
    <div>
        <a href="/"><img src="/static/back.svg" alt="back" height="50"></a>
    </div>
{% endblock %}