{% extends "layout.html" %}

{% block title %}
    Remove
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/logged"><img src="/static/admin.svg" alt="admin" height="50"></a></li>
                <span>Users</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/transaction"><img src="/static/transactionhistory.svg" alt="pay" height="50"></a></li>
                <span>Transaction</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/administration"><img src="/static/addplant.svg" alt="addplant" height="50"></a></li>
                <span>Manage</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/communication"><img src="/static/addnewsletter.svg" alt="addnewsletter" height="50"></a></li>
                <span>Communication</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/newsletter"><img src="/static/sendmail.svg" alt="sendmail" height="50"></a></li>
                <span>Newsletter</span>
        </div>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="loggedMain">
        <div class="loggedDiv">
            Statistics:
            <ul>
                <li>Total Admin(s): {{ admins | length }}</li>
                <li>Total User(s): {{ users | length }}</li>
                <li>Total Unconfirmed(s): {{ unconfirmeds | length }}</li>
            </ul>
        </div>
        <br>
        <div class="loggedDiv">
            User list:
            <ul>
                {% for user in users %}
                    <li>{{ user[0] }} - {{ user[1] }}</li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <div class="loggedDiv">
            Admin list:
            <ul>
                {% for admin in admins %}
                    <li>{{ admin }}</li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <div class="loggedDivButton">
            <input id="remove" autocomplete="off" autofocus class="form-control" name="remove" placeholder=" Remove user" type="text">
            <button type="submit" name="remove" value="remove">Remove</button>
        </div>
        <br>
        <div class="loggedDivButton">
            <input id="promote" autocomplete="off" autofocus class="form-control" name="promote" placeholder=" Promote user" type="text">
            <button type="submit" name="promote" value="promote">Promote</button>
        </div>
        <br>
        <div class="loggedDivButton">
            <input id="demote" autocomplete="off" autofocus class="form-control" name="demote" placeholder=" Demote admin" type="text">
            <button type="submit" name="demote" value="demote">Demote</button>
        </div>
        <br>
    </div>

    <br>
    <div>
        <a href="/"><img src="/static/back.svg" alt="back" height="50"></a>
    </div>
{% endblock %}