{% extends "layout.html" %}

{% block title %}
    Message
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <li><a href="/administration">Administration</a></li>
        <li><a href="/communication">Update blog</a></li>
        <li><a href="/newsletter">Send newsletter</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/message" method="post">
        <div>
            <textarea id="body" autocomplete="off" autofocus class="form-control" name="body" placeholder=" Body" type="text" cols="100" rows="25"></textarea>
        </div>
        <br>
        <div>
            <button id="submit" type="submit" name="submit" value="submit">Send.</button>
        </div>
        <br>
        <div>
            <a href="/">Back</a>
        </div>
    </form>
{% endblock %}