{% extends "layout.html" %}

{% block title %}
    Message
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <li><a href="/administration">Administration</a></li>
        <li><a href="/communication">Add News</a></li>
        <li><a href="/newsletter">Newsletter</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/message" method="post">
        <div>
            {{ ckeditor.create() }}
            {{ ckeditor.load(pkg_type="standard") }}
        </div>
        <br>
        <div>
            <button id="submit" type="submit" name="submit" value="submit">Send.</button>
        </div>
        <br>
        <div>
            <a href="/">Back</a>
        </div>
    </form>
{% endblock %}