{% extends "layout.html" %}

{% block title %}
    Message
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <li class="NavBarLi"><a href="/administration">Manage</a></li>
        <li class="NavBarLi"><a href="/communication">Inform</a></li>
        <li class="NavBarLi"><a href="/newsletter">Compose</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/message" method="post">
        <div class="MessageMain">
            <p>Send us a message</p>
            <div>
                {{ ckeditor.create() }}
                {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
            </div>
            <br>
            <div>
                <button id="submit" type="submit" name="submit" value="submit">Send.</button>
            </div>
        </div>
        <br>
        <div>
            <a href="/">Back</a>
        </div>
    </form>
{% endblock %}