{% extends "layout.html" %}

{% block title %}
    Send
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <li class="NavBarLi"><a href="/administration">Manage</a></li>
        <li class="NavBarLi"><a href="/communication">Inform</a></li>
        <li class="NavBarLi"><a href="/newsletter">Compose</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/newsletter" method="post" enctype="multipart/form-data">
        <div class="NewsletterMain">
            <div class="NewsletterAddress">
                <input id="address" autocomplete="off" autofocus class="form-control" name="address" placeholder="Address" type="text">
            </div>
            <br>
            <div>
                <input type="checkbox" id="newsletter" name="newsletter" value="newsletter">
                <label for="newsletter"> Send to all users?</label>
            </div>
            <br>
            <div>
                <input id="subject" autocomplete="off" autofocus class="form-control" name="subject" placeholder=" Subject" type="text">
            </div>
            <br>
            <div class="NewsletterEditor">
                {{ ckeditor.create() }}
                {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
            </div>
            <br>
            <div>
                <button id="submit" type="submit" name="submit" value="submit">Send.</button>
            </div>
        </div>
        <br>
        <div>
            <a href="/">Back</a>
        </div>
    </form>
{% endblock %}