{% extends "layout.html" %}

{% block title %}
    Newsletter
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <li><a href="/administration">Administration</a></li>
        <li><a href="/communication">Update blog</a></li>
        <li><a href="/newsletter">Send newsletter</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/newsletter" method="post" enctype="multipart/form-data">
        <div>
            <input id="address" autocomplete="off" autofocus class="form-control" name="address" placeholder="Address" type="text">
            <input type="checkbox" id="newsletter" name="newsletter" value="newsletter">
            <label for="newsletter"> Newsletter?</label>
        </div>
        <br>
        <div>
            <input id="subject" autocomplete="off" autofocus class="form-control" name="subject" placeholder=" Subject" type="text" size="50">
        </div>
        <br>
        <div></div>
            {{ ckeditor.create() }}
            {{ ckeditor.load(pkg_type="standard") }}
        </div>
        <br>
        <div>
            <button id="submit" type="submit" name="submit" value="submit">Send.</button>
        </div>
        <br>
        <div>
            <a href="/">Back</a>
        </div>
    </form>
{% endblock %}