Hello {{ name }},

Thank you for your Crazy-Plant-Crew order! We will let you know as soon as your item(s) have been dispatched.
Here is the summary of your order today ({{ date }}):


Address: 
{{ addresses[0] }} {{ addresses[1] }} 
{{ addresses[2] }} 
{{ addresses[3] }} {{ addresses[4] }}
{{ addresses[5] }} {{ addresses[6] }}
{{ addresses[7] }}

Additional information(s):
{{ addresses[7] }}


Order:
{% for plant in plants %}
- {{ plant[1] | safe }}, ordered {{ plant[2] | safe }} time(s)
{% endfor %}


Total:
{{ '%0.2f'|format(total) }}€



We kindly ask you to verify these information. Should there be any problem, please contact us at crazyplantcrew@gmail.com. 

Sincerly, 

the CPC team.