Hello {{ name }},

Thank you for your Crazy-Plant-Crew order! We will let you know as soon as your item(s) have been dispatched.
Here is the summary of your order today ({{ date }}):


Address:
Street name: {{ address[0] }}
House number: {{ address[1] }}
Zipcode: {{ address[2] }}
Country: {{ address[3] }}
Additional information: {{ address[4] }}


Order:
{% for plant in plants %}
- {{ plant[1] | safe }}, ordered {{ plant[2] | safe }} time(s)
{% endfor %}


Total:
{{ '%0.2f'|format(total) }}€



We kindly ask you to verify these information. Should there be any problem, please contact us at crazyplantcrew@gmail.com. 

Sincerly, 

the CPC team.