{% extends "layout.html" %}

{% block title %}
    Password
{% endblock %}

{% block main %}
<form action="/password" method="post">
    <div>
        <p>Password (7 to 15 characters, 1 numeric, 1 special).</p>
        <input id="password" name="password" placeholder="Password" type="password">
    </div>
    <div>
        <input id="confirm-pass" name="confirm-password" placeholder="Confirm Password" type="password">
        <button id="updatePassword" type="submit">Update</button>
    </div>
</form>
{% endblock %}