{% extends "layout.html" %}

{% block title %}
    Pay
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/administration"><img src="/static/admin.svg" alt="admin" height="50"></a></li>
                <span>Manage</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/communication"><img src="/static/addnewsletter.svg" alt="addnewsletter" height="50"></a></li>
                <span>Communication</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/newsletter"><img src="/static/sendmail.svg" alt="sendmail" height="50"></a></li>
                <span>Newsletter</span>
        </div>
    {% endif %}
{% endblock %}

{% block main %}
    Pay page
    <br>
    <div>
        <a href="/basket"><img src="/static/back.svg" alt="back" height="50"></a>
    </div>
{% endblock %}