{% extends "layout.html" %}

{% block title %}
    Pay
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/logged"><img src="/static/admin.svg" alt="admin" height="50"></a></li>
                <span>Users</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/transaction"><img src="/static/transactionhistory.svg" alt="pay" height="50"></a></li>
                <span>Transaction</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/administration"><img src="/static/addplant.svg" alt="addplant" height="50"></a></li>
                <span>Manage</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/communication"><img src="/static/addnewsletter.svg" alt="addnewsletter" height="50"></a></li>
                <span>Communication</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/newsletter"><img src="/static/sendmail.svg" alt="sendmail" height="50"></a></li>
                <span>Newsletter</span>
        </div>
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/pay" method="post" enctype="multipart/form-data">
        <div class="PayMain">
            <div>
                <input id="street" autocomplete="off" autofocus class="form-control" name="street" placeholder=" Street name" type="text">
            </div>
            <br>
            <div>
                <input id="house" autocomplete="off" autofocus class="form-control" name="house" placeholder=" House number" type="text">
            </div>
            <br>
            <div>
                <input id="zipcode" autocomplete="off" autofocus class="form-control" name="zipcode" placeholder=" Zip code" type="text">
            </div>
            <br>
            <div class="PaySecond">
                <select id="country" name="country"> 
                    <option value="None">Select country:</option>
                    {% for country in countries %}
                        <option value="{{ country }}">{{ country }}</option>
                    {% endfor %}
                </select>
                <div>
                    <input type="checkbox" id="express" name="express" value="express">
                    <label for="express"> Express?</label>
                </div>
            </div>
            <br>
            <div>
                <textarea id="additional" name="additional" rows="5" cols="65" placeholder=" Additional information"></textarea>
            </div>
            <br>
            <div>
                <button id="submit" type="submit" name="submit" value="submit"><img src="/static/save.svg" alt="save" height="50"></button>
            </div>
        </div>
    </form>
    <br>
    <div>
        <a href="/basket"><img src="/static/back.svg" alt="back" height="50"></a>
    </div>

    <script>
        document.querySelector("#express").disabled = true;
        document.getElementById("country").onclick = function() {

            let selection = document.getElementById("country").value;
            let box =  document.getElementById("country");

            if (selection === "Germany") {
                document.querySelector("#express").disabled = false;
            }
            else {
                document.querySelector("#express").disabled = true;
                box.checked = false;
            }
        }
    </script>
{% endblock %}