{% extends "layout.html" %}

{% block title %}
    Picture
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <li><a href="/administration">Administration</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/picture" method="post" enctype="multipart/form-data">
        <div>
            <p>Profile picture (32mb max).</p>
            <input type="file" id="picture" name="picture">
            <input type="submit" value="Upload">
        </div>
    </form>
    <br>
    <div>
        <a href="/profile">Back</a>
    </div>
{% endblock %}