{% extends "layout.html" %}

{% block title %}
    Sign In
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <li class="NavBarLi"><a href="/administration">Manage</a></li>
        <li class="NavBarLi"><a href="/communication">Inform</a></li>
        <li class="NavBarLi"><a href="/newsletter">Compose</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/signin" method="post">
        <div>
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div>
            <input name="password" placeholder="Password" type="password">
        </div>
        <button type="submit">Log In</button>
        <br>
        <a href="/forget">forgot password?</a>
    </form>
{% endblock %}
