{% extends "layout.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block main %}
    <p>Register or <a href='/signin'>login</a></p><br>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <form action="/signup" method="post" enctype="multipart/form-data">
        <div>
            <p>Username (between 2 & 20 characters).</p>
            <input id="username" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <br>

        <div>
            <p>Email.</p>
            <input id="email" autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="text">
        </div>
        <br>

        <div>
            <p>Password (7 to 15 characters, 1 numeric, 1 special).</p>
            <input id="password" name="password" placeholder="Password" type="password">
        </div>
        <div>
            <input id="confirm-pass" name="confirm-password" placeholder="Confirm Password" type="password">
        </div>
        <br>

        <div>
            <p>Profile picture (32mb max).</p>
            <input type="file" id="picture" name="picture">
        </div>
        <br>
        
        <div class="g-recaptcha" id="reCaptcha" data-sitekey="{{ pub_key }}"></div>
        <br>

        <div>
            <input type="checkbox" id="cookies" name="cookies" value="Accept cookies">
            <label for="cookies">Accept website cookies</label><br>
        </div>
        <br>
       
        <button id="submit" type="submit">Sign Up</button>
        <br>
    </form>

    <script>
        // Password must be between 7 to 15 characters which contain at least one numeric digit and a special character
        document.querySelector("#submit").disabled = true;

        document.getElementById("cookies").onclick = function() {

            function isCaptchaChecked() {
            return grecaptcha && grecaptcha.getResponse().length !== 0;
            }

            let password = document.querySelector("#password").value;
            let username = document.querySelector("#username").value;
            let email = document.querySelector("#email").value;
            let confirmation = document.querySelector("#confirm-pass").value;
            let checkbox = document.getElementById("cookies")

            if (username.length > 1 && username.length < 21 && username.match(/^[A-Za-z0-9 ]+$/)) {
                document.querySelector("#submit").disabled = true;
                if (email.match(/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i)) {
                    document.querySelector("#submit").disabled = true;
                    if (password.match(/^^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{7,15}$/i)) {
                        document.querySelector("#submit").disabled = true;
                        if (confirmation === password) {
                            document.querySelector("#submit").disabled = true;
                            if (isCaptchaChecked()) {
                                document.querySelector("#submit").disabled = true;
                                if (checkbox.checked === true) {
                                    document.querySelector("#submit").disabled = false;
                                }
                            }
                        }
                    }
                }
            }
        }
    </script>
{% endblock %}