{% extends "layout.html" %}

{% block title %}
    Sign In
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <li class="NavBarLi"><a href="/administration">Manage</a></li>
        <li class="NavBarLi"><a href="/communication">Inform</a></li>
        <li class="NavBarLi"><a href="/newsletter">Compose</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/signin" method="post">
        <div class="SigninMain">
            <div>
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" size="35">
            </div>
            <div>
                <input name="password" placeholder="Password" type="password" size="35">
            </div>
            <button type="submit"><img src="/static/login.svg" alt="login" height="50"></button>
            <br>
            <a href="/forget">forgot password?</a>
        </div>
    </form>
{% endblock %}
