{% extends "layout.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <li class="NavBarLi"><a href="/administration">Manage</a></li>
        <li class="NavBarLi"><a href="/communication">Inform</a></li>
        <li class="NavBarLi"><a href="/newsletter">Compose</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <form action="/signup" method="post" enctype="multipart/form-data">
        <div class="SignupMain">
            <div>
                <input id="username" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username (2 - 20 char)." type="text" size="35">
            </div>
            <div>
                <input id="email" autocomplete="off" autofocus class="form-control" name="email" placeholder="Email." type="text" size="35">
            </div>
            <div>
                <input id="password" name="password" placeholder="Password (7 to 15 char, min 1 numeric & special)." type="password" size="35">
                <input id="confirm-pass" name="confirm-password" placeholder="Confirm Password" type="password" size="35">  
            </div>
            <div>         
                <input type="file" id="picture" name="picture">
                <div>Profile picture (32mb max - *.jpg, *.png, *.bmp).</div>
            </div>
            <div class="g-recaptcha" id="reCaptcha" data-sitekey="{{ pub_key }}"></div>
            <div>
                <input type="checkbox" id="cookies" name="cookies" value="Accept cookies">
                <label for="cookies">Accept website cookies</label><br>
            </div>
            <button id="submit" type="submit">Sign Up</button>
        </div>
    </form>


    <script>
        // Password must be between 7 to 15 characters which contain at least one numeric digit and a special character
        document.querySelector("#submit").disabled = true;

        document.getElementById("cookies").onclick = function() {

            function isCaptchaChecked() {
            return grecaptcha && grecaptcha.getResponse().length !== 0;
            }

            let password = document.querySelector("#password").value;
            let username = document.querySelector("#username").value;
            let email = document.querySelector("#email").value;
            let confirmation = document.querySelector("#confirm-pass").value;
            let checkbox = document.getElementById("cookies")

            if (username.length > 1 && username.length < 21 && username.match(/^[A-Za-z0-9 ]+$/)) {
                document.querySelector("#submit").disabled = true;
                if (email.match(/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i)) {
                    document.querySelector("#submit").disabled = true;
                    if (password.match(/^^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{7,15}$/i)) {
                        document.querySelector("#submit").disabled = true;
                        if (confirmation === password) {
                            document.querySelector("#submit").disabled = true;
                            if (isCaptchaChecked()) {
                                document.querySelector("#submit").disabled = true;
                                if (checkbox.checked === true) {
                                    document.querySelector("#submit").disabled = false;
                                }
                            }
                        }
                    }
                }
            }
        }
    </script>
{% endblock %}