{% extends "layout.html" %}

{% block title %}
    Unconfirmed
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/transaction"><img src="/static/transactionhistory.svg" alt="pay" height="50"></a></li>
                <span>Transaction</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/administration"><img src="/static/addplant.svg" alt="addplant" height="50"></a></li>
                <span>Manage</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/communication"><img src="/static/addnewsletter.svg" alt="addnewsletter" height="50"></a></li>
                <span>Communication</span>
        </div>
        <div class="click-to-top">
            <li class="NavBarLi"><a href="/newsletter"><img src="/static/sendmail.svg" alt="sendmail" height="50"></a></li>
                <span>Newsletter</span>
        </div>
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/unconfirmed" method="post">
        <div>
            <input id="pin" autocomplete="off" autofocus class="form-control" name="pin" placeholder="Enter PIN" type="text" maxlength="12">
        </div>
        <br>
        <div>
            <button id="confirm" type="submit" name="confirm" value="confirm">Confirm</button>
        </div>
        <br>
        <div>
            <button id="send" type="submit" name="send" value="send">Send again?</button>
        </div>
        <br>
    </form>
    <br>
    <div>
        <a href="/signin"><img src="/static/back.svg" alt="back" height="50"></a>
    </div>
{% endblock %}