{% extends "layout.html" %}

{% block title %}
    Unconfirmed
{% endblock %}

{% block main %}
    <form action="/unconfirmed" method="post">
        <div>
            <input id="pin" autocomplete="off" autofocus class="form-control" name="pin" placeholder="Enter PIN" type="text" maxlength="12">
        </div>
        <br>
        <div>
            <button id="confirm" type="submit" name="confirm" value="confirm">Confirm</button>
        </div>
        <br>
        <div>
            <button id="send" type="submit" name="send" value="send">Send again?</button>
        </div>
        <br>
    </form>
    <br>
    <div>
        <a href="/signin">Back</a>
    </div>
{% endblock %}